name: UNIT TEST
on:
  pull_request:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Installation de Qunit
        run: npm install
      - name: Exectuer les tests unitaires
        run: npm test

